*.a
*.d
*.o

.kdev_include_paths
.kdev4/
.DS_Store

bin/moogladder
bin/moogladder-ladspa.so
bin/moogladder-ladspa.dylib
bin-w32/moogladder-ladspa.dll
bin-w64/moogladder-ladspa.dll
bin/moogladder-dssi.*
bin/moogladder-vst.so
bin/moogladder-vst.dylib
bin-w32/moogladder-vst.dll
bin-w64/moogladder-vst.dll
bin/moogladder.lv2/
bin-w32/moogladder.lv2/
bin-w64/moogladder.lv2/
build/
dist/
